body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: "DM Sans", sans-serif;
    display: flex;
    justify-content: center;
}

main {
    max-width: 700px;
    width: 100%;
    text-align: center;
    padding: 80px 20px;
}

.button {
    display: inline-flex;
    align-items: center;
    gap: 10px;

    padding: 12px 24px;
    margin: 8px;

    border: 2px solid white;
    border-radius: 40px;

    color: white;
    text-decoration: none;

    transition: 0.2s;
}

.button:hover {
    background: white;
    color: #111;
}

.logo{
    width: 100%;
    max-width: 220px;
    display: block;
    margin: 0 auto 40px;
	transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.03);
}

h1{
    font-size:3rem;
    font-weight:600;
    margin-bottom:12px;
}

.subtitle{
    font-size:1.3rem;
    font-weight:500;
    opacity:.9;
}

.description{
    max-width:600px;
    margin:auto;
    line-height:1.7;
    opacity:.8;
}